body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #1f2937;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.dashboard-link {
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border-radius: 15px;
}

.dashboard-link:hover .dashboard-card {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
}

.bg-coffee {
    background-image: linear-gradient(to right, #6f4e37, #8e6955);
}

.bg-franchise {
    background-image: linear-gradient(to right, #0072ff, #00c6ff);
}

.bg-frlanding {
    background-image: linear-gradient(to right, #ff758c, #ff7eb3);
}

.bg-courier {
    background-image: linear-gradient(to right, #4caf50, #8bc34a);
}

.dashboard-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.dashboard-description {
    font-size: 1.1rem;
    font-weight: 400;
}

footer {
    text-align: center;
    color: #ffffff;
    background-color: #2d3748;
    padding: 15px;
}
footer h2 {
    color: #fff!important;
}

.grid {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.grid-cols-1 {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .grid-cols-1 {
        grid-template-columns: repeat(2, 1fr);
    }
}

.bg-gray-100 {
    background-color: #f7fafc;
}
