body {
    padding-top: 168px;
}
header {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #fff;
    z-index: 99999;
}
.logo {
    width: 40px;
    height: 40px;
}
.header-fixed {
    top: 48px;
    position: fixed;
    z-index: 99999;
    background-color: #fff;
    width: 1100px;
}
.progress-fixed {
    position: fixed;
    top: 100px;
    width: 1100px;
    background-color: #fff;
    z-index: 99999;
}
.section-content .text-base {
    font-size: 0.875rem; /* Уменьшение размера текста на 20% */
}
.section-content .text-sm {
    font-size: 0.7rem; /* Уменьшение размера текста на 20% */
}
.wrapper {
    width: 100%!important;
    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: flex-end;
}
.sections {
    margin: 0 auto;
    position: fixed;
    width: 605px;
}
.sections-fixed {
    left: 0;
    width: 600px;
}
#sections {
    width: 100%;
}
.personalList {
    width: 45%;
    padding: 1rem;
}
#personalList {
}
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    background: rgb(255, 175, 0);
    background: linear-gradient(
        45deg,
        rgba(255, 175, 0, 1) 0%,
        rgba(255, 255, 0, 1) 35%,
        rgba(255, 201, 0, 1) 100%
    );
    border-radius: 50%;
}
.icon-container img {
    width: 1.5rem;
    height: 1.5rem;
}
.person-icon {
    margin: 8px;
    margin-left: 0;
}
.person-card {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0.5rem;
    padding-bottom: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.person-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.person-card p {
    margin: 0.2rem 0;
}
.person-name {
    font-size: 14px;
    font-weight: bold;
    color: #181411;
}
.person-amount {
    color: #887263;
    font-size: 12px;
}
.person-percentage {
    display: inline-block;
    border: 1px solid #fbc02d;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    padding: 0.1rem 0.2rem;
    margin-left: 0.5rem;
    margin-top: 0.1rem;
}
.percentage-0 {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}
.percentage-10 {
    background-color: #c8e6c9;
    color: #2e7d32;
    border-color: #a5d6a7;
}
.percentage-20 {
    background-color: #fff3cd6a;
    color: #856404;
    border-color: #ffeeba;
}
.percentage-30 {
    background-color: #ffe0b26f;
    color: #ef6c00;
    border-color: #ffcc80;
}
.percentage-40 {
    background-color: #ffccbc7c;
    color: #e64a19;
    border-color: #ffab91;
}
.percentage-50 {
    background-color: #ffb3bb70;
    color: #e57373;
    border-color: #ff8a80;
}
.percentage-60 {
    background-color: #ef9a9a6a;
    color: #c62828;
    border-color: #e57373;
}
.percentage-70 {
    background-color: #e573737a;
    color: #d32f2f;
    border-color: #ef5350;
}
.percentage-80 {
    background-color: #ef53507c;
    color: #b71c1c;
    border-color: #e57373;
}
.percentage-90 {
    background-color: #e5383582;
    color: #b71c1c;
    border-color: #ef5350;
}
.percentage-100 {
    background-color: #f85050;
    color: #b71c1c;
    border-color: #ef5350;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.loader .spinner {
    width: 3rem;
    height: 3rem;
    border: 0.4rem solid #f3f3f3;
    border-top: 0.4rem solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes arrow-pulse-reverse {
    0%,
    100% {
        transform: translateY(5px) rotate(-90deg);
    }
    50% {
        transform: translateY(-10px) rotate(-90deg);
    }
}

.person-card:nth-child(1) .person-name::after {
    content: '➔';
    animation: arrow-pulse-reverse 1.5s infinite;
    display: inline-block;
    margin-left: 5px;
}

.person-card:nth-child(2) .person-name::after {
    content: '➔';
    animation: arrow-pulse-reverse 1.5s infinite;
    display: inline-block;
    margin-left: 5px;
}

.person-card:nth-child(3) .person-name::after {
    content: '➔';
    animation: arrow-pulse-reverse 1.5s infinite;
    display: inline-block;
    margin-left: 5px;
    animation-delay: 0.5s;
}
